.section-2 {
  max-width: 800px;
  margin-top: 40px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 0%;
  padding-left: 0%;
}

.form {
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2);
}

.div-block-102 {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
  grid-column-gap: 15px;
}

.div-block-103 {
  width: 50%;
}

.div-block-104 {
  width: 50%;
}

.submit-button {
  border-radius: 4px;
  background-color: #2b2b2b;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2);
}